<%- include("./partials/header",{title:"Registration"}) %>
<link rel="stylesheet" href="css/register.css">
<body>
    <div class="center-align main">
        <a href="/" class="logo"><img src="https://cdn.fcglcdn.com/brainbees/images/n/fc-logo-s.jpg" alt="Firstcry"></a>
        <div class="form">
            <form action="/register" method="post">
                <div class="btn">
                    <a href="/login"><img src="https://i.ibb.co/tb4f15r/left-arrow.png" alt="back"></a>
                    <span>Register</span>
                </div>
                <div class="box">
                    <label for="name">Full Name</label>
                    <input type="text" name="name" id="name", placeholder="Enter your Full Name">
                    <% if(alert!=null){
                        alert.forEach((x)=>{
                          if(x.param == "name"){%>
                          <p class="alert"><%= x.msg %></p>
                    <% }})} %>
                </div>
                <div class="box">Mobile Number
                    <div class="input-group">
                        <input id="country-code" type="text" value="+91" disabled>
                        <input type="number" id="mobile" name="mobile" placeholder="Enter your Mobile Number">
                    </div>
                    <% if(alert!=null){
                        for(let x of alert){
                        if(x.param == "mobile"){%>
                        <p class="alert"><%= x.msg %></p>
                    <% break; }}} %>
                    <p class="tip">OTP will be sent on this Mobile No. for verification.</p>
                </div>
                <div class="box">
                    <label for="email">Email ID</label>
                    <input type="text" name="email" id="email", placeholder="Enter your Email ID">
                    <% if(alert!=null){
                        for(let x of alert){
                          if(x.param == "email"){%>
                          <p class="alert"><%= x.msg %></p>
                    <% break; }}} %>
                </div>
                <div class="box">
                    <label for="password">Password</label>
                    <input type="text" name="password" id="password", placeholder="Enter your Password">
                    <% if(alert!=null){
                        for(let x of alert){
                          if(x.param == "password"){%>
                          <p class="alert"><%= x.msg %></p>
                    <% break; }}} %>
                    <p class="tip">Password must be at least 8 characters long with 1 Uppercase, 1 Lowercase & 1 Numeric character.</p>
                </div>
                <div class="box">
                    <button class="btn" type="submit">CONTINUE</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>